body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 15px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}